.tariff-list-block {
  border: 1px solid rgb(0 0 0 / 37%);
  border-radius: 5px;
  padding: 5px 0 0 0;
}

#tariff-title {
  text-align: center;
}

.no-data-found {
  text-align: center;
}

.sorting-block {
  margin: 10px;
}