<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{ tariffDetails.name }}</h5>
    <p class="card-text">
      <li *ngFor="let benefit of tariffDetails.benefits">
        {{ benefit }}
      </li>
    </p>
    <div class="card-bottom">
      <p class="card-text card-price">
        {{ tariffDetails.price | currency : "EUR" : true }}
      </p>
      <button type="button" class="btn btn-warning" (click)="getTariffs()">
        Home
      </button>
    </div>
  </div>
</div>
