.card-price{
    padding: 5px;
    background: #0d6efd;
    width: 80px;
    color: white;
    margin: 0;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}